<ion-header></ion-header>
<ion-content class="todo" >
    <ion-img class="logo" src="assets/imgs/amiLogo.svg"></ion-img>
    <ion-card>
        <ion-card-content>
            <div>
                <h1>Iniciar Sesión</h1>
                <p class="caption">Ingresa tus datos</p>
                <div class="content-form">
                    <div class="form-login">
                        <div class="item">
                            <ion-input [(ngModel)]="usuario" type="text" placeholder="{{ 'Login.user' | translate }}"></ion-input>
                            <ion-img src="assets/amiIcons/user.svg"></ion-img>
                        </div>
                        <div class="item">
                            <ion-input [(ngModel)]="password" type="password" placeholder="{{ 'Login.user' | translate }}"></ion-input>
                            <ion-img src="assets/amiIcons/pass.svg"></ion-img>
                        </div>
                    </div>
                    <div *ngIf="contenedorBtn" class="contenedorBtn">
                        <button ion-button (click)="callKeysDevice('login')" id="btnLogin" [disabled]="!isBtnEnabled">Login</button>
                    </div>
                </div>
                <!-- Se muestra si el finger en por huella -->
            <div (click)="callKeysDevice('huella')">
                <p style="margin: auto" style="text-align: center; color: #323232;">{{ 'Login.finger' | translate }}</p>
                <ion-img src="assets/img/new/INICIO_HUELLA.svg" style="width: 60px; height: 60px;  margin:10px auto; display:block; background-color: transparent;">
                </ion-img>
            </div>


            <!-- Se muestra si el finger en por face -->
            <div (click)="callKeysDevice('huella')" *ngIf="face_ID">
                <p style="margin: auto" style="text-align: center; color: #323232;">{{ 'Login.face' | translate }}</p>
                <ion-img src="assets/img/new/INICIO_ROSTRO.svg" style="width: 60px; height: 60px;  margin:10px auto; display:block; background-color: transparent;">
                </ion-img>
            </div>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>