.todo {
  .contenedorBtn {
    display: flex;
    flex-direction: column;
    padding: 0 40px;

    .clearButton {
      box-shadow: none;
      background: transparent;

      .button-inner {
        font-size: 11px;
      }
    }
  }

  button {
    ion-img {
      margin-right: 10px;
    }
  }
}
